
{% extends 'base.html.twig' %}

{% trans_default_domain 'general' %}

{% block title %}
    Tous les accounts de Steam-Ish
{% endblock %}

{% block header %}
    <div class="text-center header">
        Page des accounts
    </div>
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        <div>
            <a class="btn btn-primary" href="{{ path('accounts_new') }}">
                {{ 'account.title_header'|trans }}
            </a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'account.form.name'|trans }}</th>
                <th>{{ 'account.form.email'|trans }}</th>
                <th>{{ 'account.form.nickname'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.email }}</td>
                    <td>{{ account.nickname }}</td>
                    <td>
                        <a href="{{ path('index_librarie', {'id': account.id}) }}">
                            {{ 'account.index.games'|trans({'%nb%': account.libraries|length }) }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
