
{% extends 'base.html.twig' %}

{% trans_default_domain 'general' %}

{% block title %}
    Tous les accounts de Steam-Ish
{% endblock %}

{% block header %}
    <div class="text-center header">
        Page des accounts
    </div>
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="mb-3">
            <a class="btn btn-primary" href="{{ path('accounts_new') }}">
                {{ 'account.title_header'|trans }}
            </a>
        </div>
        {{ form_start(filters) }}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    {{ knp_pagination_sortable(
                        accounts,
                        'account.form.name'|trans,
                        'account.name'
                    )|raw }}
                    {{ form_widget(filters.name) }}
                </th>
                <th>
                    {{ knp_pagination_sortable(
                        accounts,
                        'account.form.email'|trans,
                        'account.email'
                    )|raw }}
                    {{ form_widget(filters.email) }}
                </th>
                <th>
                    {{ knp_pagination_sortable(
                        accounts,
                        'account.form.nickname'|trans,
                        'account.nickname'
                    )|raw }}
                    {{ form_widget(filters.nickname) }}
                </th>
                <th>
                    Action
                    <div>
                        <button type="submit">
                            Filtrer
                        </button>
                        <a href="{{ path('accounts_index') }}">
                            Reset
                        </a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.email }}</td>
                    <td>{{ account.nickname }}</td>
                    <td>
                        <a href="{{ path('index_librarie', {'idAcc': account.id}) }}">
                            {{ 'account.index.games'|trans({'%nb%': account.libraries|length }) }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_end(filters) }}
        <div class="pagination">
            {{ knp_pagination_render(accounts) }}
        </div>
    </div>

{% endblock %}
