{% extends 'base.html.twig' %}

{% trans_default_domain 'general' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}
    {{ 'account.title'|trans }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'account.title_header'|trans }}</h1>

        {{ include('accounts/_form.html.twig') }}

        <a class="btn btn-secondary" href="{{ path('accounts_index') }}">{{ 'account.btn.return_index'|trans }}</a>
    </div>
{% endblock %}
