
<div class="card border-primary p-2">
    <div class="card-header">
        <div>
            <div class="row">
                <h2>{{ game.name }}</h2>
            </div>
            <div>
                <i class="fas fa-thumbs-up green"> {{ game|total_votes }}</i>
                <i class="fas fa-thumbs-down red"> {{ game|total_votes(false) }}</i>
            </div>
        </div>
    </div>
    <div class="mt-1">
        {% if game.thumbnailCover is not null %}
            <div>
                <img class="w-25" src="{{ game.thumbnailCover }}" alt="{ game.name }}">
            </div>
        {% endif %}
        <p class="mt-2">Année de sortie :
            <strong>{{ game.publishedAt|date('d/m/Y') }}</strong>
        </p>
        <p>Prix :
            <strong>{{ game.price }}€</strong>
        </p>
    </div>
    <div class="card-footer row ml-1">
        {% for genre in game.genres %}
            <a class="btn btn-info mr-1 mt-1" href="{{ path('games_genre', {'id': genre.id}) }}">
                {{ genre.name }}
            </a>
        {% endfor %}
    </div>
</div>
