{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container background-test">
        {# for int i = 0; i < 10; i++ #}
        {% for i in range(0, 10) %}
            {% include 'souk/number.html.twig' with {'number': i} %}
        {% endfor %}

        {# Date du jour #}
        <p>
            {{ "now"|date }}
        </p>

        {# Si la variable sur laquelle on applique le fitlre default n'existe pas, on affiche le message #}
        <p>
            {{ notstashedvalue|default('Cette variable n\'existe pas')  }}
        </p>

        <div>
            {# Mettre en majuscule #}
            <p>{{ name|upper }}</p>
            {# Mettre en minuscule #}
            <p>{{ name|lower }}</p>
            {# Rempalcer le contenu d'une chaine #}
            <p>{{ name|replace({'hotmail': 'gmail'}) }}</p>
        </div>

        {# Itération sur les K, V #}
        {% for nav, info in array %}
            <p>{{ nav }} : {{ info }}</p>
        {% endfor %}

        {# Renvoie la valeur absolu #}
        <p>{{ number|abs }}</p>

        <i class="fa fa-plus-square">

        </i>

    </div>
{% endblock %}
