
{% extends 'base.html.twig' %}

{% block title %}
    Account de {{ account.name }}
{% endblock %}

{% block body %}

    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>(I)</th>
                <th>Nom</th>
                <th>Temps de jeu</th>
                <th>Dernière utilisation</th>
            </tr>
            </thead>
            <tbody>
                {% if libraries|length > 0 %}
                    {% for library in libraries %}
                        <tr>
                            <td>{{ library.installed|game_installed }}</td>
                            <td>{{ library.game.name }}</td>
                            <td>{{ library.gameTime|sec_to_time }}</td>
                            <td>{{ library.lastUsed|date('m/d/Y') }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">Aucun jeu dans cette bibliothèque</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}