
{% extends 'base.html.twig' %}

{% trans_default_domain 'general' %}

{% block title %}
    {{ 'Compte de ' ~ account.name ~ '-' }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="card border-primary mb-3" style="max-width: 30rem;">
            <div class="card-body text-primary d-flex align-content-center align-items-center justify-content-around">
                <div>
                    <h5 class="card-title">{{ account.name }}
                        (aka <i>{{ account.nickname }}</i>)
                    </h5>
                    <h6 class="card-subtitle text-muted">{{ account.email }}</h6>
                    <p class="card-text mt-2">Temps de jeu total:
                        <strong>{{ totalGameTime|sec_to_time }}</strong>
                    </p>
                </div>
                <div>
                    <a href="{{ path('accounts_edit', {'id': account.id}) }}" class="btn btn-primary">
                        {{ 'account.library.edit'|trans }}
                    </a>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% if libraries|length > 0 %}
                {% for library in libraries %}
                    {% include 'cards/_card_games_account.html.twig' %}
                {% endfor %}
            {% else %}
                <div>Aucun jeu dans cette bibliothèque</div>
            {% endif %}
        </div>
    </div>


{% endblock %}
