
{% extends 'base.html.twig' %}

{% trans_default_domain 'general' %}

{% block title %}
    {{ 'Compte de ' ~ account.name ~ '-' }}
{% endblock %}

{% block body %}

    <div class="container">
        <table class="table table-striped col-6">
            <tbody>
                <tr>
                    <th>{{ 'account.form.name'|trans }}</th>
                    <td>{{ account.name }}</td>
                </tr>
                <tr>
                    <th>{{ 'account.form.email'|trans }}</th>
                    <td>{{ account.email }}</td>
                </tr>
                <tr>
                    <th>{{ 'account.form.nickname'|trans }}</th>
                    <td>{{ account.nickname }}</td>
                </tr>
            </tbody>
        </table>
        <div class="mb-2">
            <a href="{{ path('accounts_edit', {'id': account.id}) }}" class="btn btn-info">
                {{ 'account.library.edit'|trans }}
            </a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'account.library.installed'|trans }}</th>
                <th>{{ 'account.library.name'|trans }}</th>
                <th>{{ 'account.library.game_time'|trans }}</th>
                <th>{{ 'account.library.last_used'|trans }}</th>
            </tr>
            </thead>
            <tbody>
                {% if libraries|length > 0 %}
                    {% set totalDuration = 0 %}
                    {% for library in libraries %}
                        <tr>
                            <td>{{ library.installed|game_installed }}</td>
                            <td>{{ library.game.name }}</td>
                            <td>{{ library.gameTime|sec_to_time }}</td>
                            <td>{{ library.lastUsed|date('m/d/Y') }}</td>
                        </tr>
                        {% set totalDuration = totalDuration + library.gameTime %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">Aucun jeu dans cette bibliothèque</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <div class="col-7 text-right">
            <strong>
                {{ 'account.library.total'|trans }}
            </strong> : {{ totalDuration|sec_to_time }}
        </div>
    </div>

{% endblock %}
